WY-Globe/bin
WY-Globe/temp
WY-Globe/package
WY-Globe/source/ipch/
WY-Globe/source/三维地图.VC.db
WY-Globe/source/三维地图.VC.VC.opendb

DataBuilder/bin
DataBuilder/temp
DataBuilder/package
DataBuilder/depends/3dtiles-master.zip
DataBuilder/depends/3dtiles-master
DataBuilder/depends/assimp-5.0.0/build/
DataBuilder/source/ipch/
DataBuilder/source/.vs/
DataBuilder/source/DataBuilder.VC.db
DataBuilder/source/DataBuilder.VC.VC.opendb
DataBuilder/source/DataBuilder/tileset.json

Cesium/node_modules/